.button {
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    background-color: var(--background-color-button);
    color: var(--text-color-1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.button:hover, .button:focus {
    background-color: var(--background-color-button-hover);
}