.error {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.error__title {
    font-weight: 600;
    font-size: 48px;
    color: var(--text-color-1);
    line-height: 56px;
    margin-bottom: 20px;
}

.error__description {
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color-2);
    font-weight: 400;
}