@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    --background-color: rgba(18, 24, 41, 0.8);
    --text-color-1: #EBEEF5;
    --text-color-2: #8E95A9;
    --text-color-3: #C3C8D4;
    --text-color-favorite-disable: #7B6EF6;
    --text-color-favorite-active: #37D8A7;
    --text-color-rating: #37D8A7;
    --background-color-button: #7B6EF6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}